*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: sans-serif;
	background: url(../img/gray.jpg) no-repeat;
	height: 100%;
}
h1{
	color: #030303;
	text-align: center;
}
.form-register{
	width: 95%;
	max-width: 500px;
	margin: auto;
	border: double 3px;
	border-radius: 7px;
	flex-wrap: wrap;
	top: 50%;
	
	
}
.form-titulo{
	background: #0EA7E7;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 3px solid #EA484E;
	

}
.contenedor-inputs{
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	
}
input{
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}
.input-48{
	width: 48%;
}
.input-100{
	width: 100%;
}
.btn-guardar{
	background: #6e6cff;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 20px;

}.Cerrar{
	background: #6e6cff;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 20px;

}
.nuevo-registro{
	background: #EA484E;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	left: 47%;
	top: 18%;
	border-radius: 10px;

}
.buscar{
	background: #EA484E;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	left: 20%;
	top: 18%;
	border-radius: 10px;

}
.ba{
	background: #EA484E;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 20px;
	display: flex;
	justify-content: center;
	position: absolute;
	left: 80%;
	top: 18%;
	border-radius: 10px;
	text-decoration: none;

}.b{
	background: #00aeff;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 20px;
	display: flex;
	justify-content: center;
	position: absolute;
	border-radius: 10px;
	text-decoration: none;

}
#busqueda{
	display: flex;
	position: absolute;
	top: 40%;
	left: 10%;
	border: solid 2px;
}
.rpp{
	color: #5a5a5a;
	height: 50px;
	padding: 6px 40px;
	cursor: pointer;
	font-size: 16px;

}
.btn-enviar:hover{
background: #0EA7E7;
transform: scale(1.1);
}
.btn-enviar:active{
	transform: scale(1.2);
}
.form-link{
	width: 100%;
	margin: 7px;
	font-size: 14px;
	text-align: center;
}